extends layout

block maincontent
  h1= title
  p Welcome to #{title}
block leftcontent
  p Yo this website sucks
block rightcontent
  p Yo this website sucks
block linkcontent
  p Yo this website sucks
