extends layout

block maincontent
  p Hey this is where the main feed content goes
block leftcontent
  p Hey this is where the left column content goes
block rightcontent
  p Hey this is where the right column content goes
block linkcontent
  p Hey this is where the link content goes
