doctype html
html
  head
    title= BEAN
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    header
      nav.navbar.navbar-default
        div.container-fluid
          div
            a(href='#storiesORabout') About
          div
            img(src='#BEAN')
          div
            a(href='#accountSettings') Account
    main
      div.row
        div#leftbar.col
          block leftcontent
        div#mainbar.col
          div.col
            div.row#maincontent
              block maincontent
            div.row#linkcontent
              block linkcontent
        div#rightbar.col
          block rightcontent
