doctype html
html
  head
    title= BEAN
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    header
      nav.navbar.navbar-default
        div.container-fluid
          div
            a(href='#storiesORabout') About
          div
            img(src='#BEAN')
          div
            a(href='#accountSettings') Account
    main
      block maincontent
      section#leftbar
        block leftcontent
      section#rightbar
        block rightcontent
      section#quicklinks
        block linkcontent
