body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

#community {
  background-color: #ED1B2E;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
